<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments :: head"><title></title></head>
<body class="bg-secondary bg-gradient">
<div th:replace="fragments :: header"></div>
<div class="container">
    <div class="row">
        <h1 class="col margin-top-bottom-auto">Products list</h1>
        <div class="col-md-auto margin-top-bottom-auto">
            <a class="btn btn-primary" id="createButton" th:href="@{/product/new}">Create new product</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Active</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${listProducts.isEmpty()}">
                <td colspan="4"> No Products Available </td>
            </tr>
            <tr th:each="product: ${listProducts}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.getFormattedPrice()}"></td>
                <td><p th:if="${product.isActive()}">✔</p><p th:if="${!product.isActive()}">❌</p></td>
                <td>
                    <a class="btn btn-warning btn-sm" th:href="@{'/product/edit/' + ${product.id}}">Edit</a>
                    <a th:if="${!product.isActive()}" class="btn btn-success btn-sm" th:href="@{'/product/enable/' + ${product.id}}">Enable</a>
                    <a th:if="${product.isActive()}" class="btn btn-danger btn-sm" th:href="@{'/product/disable/' + ${product.id}}">Disable</a>
                    <a th:if="${!product.isActive()}" class="btn btn-danger btn-sm" th:href="@{'/product/delete/' + ${product.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: scripts"></div>
</body>
</html>