<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments :: head"><title></title></head>
<body class="bg-secondary bg-gradient">
<div th:replace="fragments :: header"></div>
<div class="container">
    <div class="row">
        <h1 class="col margin-top-bottom-auto">New order</h1>
    </div>
    <div class="row">
        <form class="col" action="#" th:action="@{/food_order/order}" th:object="${foodOrder}" method="post">
            <div class="form-group">
                <label for="orderBranch">Branch</label>
                <select class="form-control" id="orderBranch" name="orderBranch" th:field="*{branch}">
                    <option th:each="branch : ${branchesList}" th:value="${branch.id}" th:text="${branch.name}"></option>
                </select>
            </div>
            <div>
                <label>Order Details</label>
                <table class="table table-striped table-dark">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>
                            <button type="submit" name="addItem" class="btn btn-primary">Add Item</button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="foodOrderDetail, count: *{foodOrderDetails}">
                            <td><select class="form-control" id="orderFoodDetItem" name="orderFoodDetItem" th:field="*{foodOrderDetails[__${count.index}__].item}">
                                <option th:each="item : ${itemsList}" th:value="${item.id}" th:text="${item.name}"></option>
                            </select></td>
                            <td><input type="number" class="form-control" name="amount" th:default="1" th:min="1" th:max="50" th:placeholder="Amount"
                                       th:field="*{foodOrderDetails[__${count.index}__].quantity}" th:required></td>
                            <td><button type="submit" name="removeItem" th:value="${count.index}" class="btn btn-danger">Remove Item</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <button type="submit" name="save" class="btn btn-primary">Create new order</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: scripts"></div>
</body>
</html>