<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments :: head"><title></title></head>
<body class="bg-secondary bg-gradient">
<div th:replace="fragments :: header"></div>
<div class="container">
    <div class="row">
        <h1 class="col margin-top-bottom-auto">Edit product</h1>
        <div class="col-md-auto margin-top-bottom-auto">
            <a class="btn btn-primary" id="createButton" th:href="@{/product/new}">Create new product</a>
        </div>
    </div>
    <div class="row">
        <form class="col" action="#" th:action="@{/product/save}" th:object="${product}" method="post">
            <div class="form-group">
                <label for="productId">Product ID</label>
                <input type="text" th:field="*{id}" class="form-control" id="productId" readonly>
            </div>
            <div class="form-group">
                <label for="productName">Product name</label>
                <input type="text" th:field="*{name}" class="form-control" id="productName" placeholder="Enter product name">
            </div>
            <div class="form-group">
                <label for="productPrice">Product price</label>
                <input type="text" th:field="*{price}" class="form-control" id="productPrice" placeholder="Enter product name">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: scripts"></div>
</body>
</html>