<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments :: head"><title></title></head>
<body class="bg-secondary bg-gradient">
<div th:replace="fragments :: header"></div>
<h1>New menu</h1>
<form action="#" th:action="@{/menu/save}" th:object="${menu}" method="post">
    <div class="form-group">
        <label for="menuName">Menu name</label>
        <input type="text" th:field="*{name}" class="form-control" id="menuName" placeholder="Enter product name">
    </div>
    <div class="form-group">
        <label for="menuDiscount">Menu discount</label>
        <input type="text" th:field="*{discount}" class="form-control" id="menuDiscount" placeholder="Enter menu discount (from 0.0 to 1.0)">
    </div>
    <div class="form-group row">
        <label class="col-form-label">Menu items</label>
        <div class="col-form-label form-check">
            <th:block th:each="product : ${productsList}">
                <div>
                    <input type="checkbox" th:field="*{products}" th:text="${product.name}"
                           th:value="${product.id}" class="m-2" id="productIds">
                </div>
            </th:block>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div th:replace="fragments :: scripts"></div>
</body>
</html>